*.iml
.gradle
.kotlin/
/local.properties
/.idea
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
iosApp/DerivedData/
iosApp/iosApp.xcodeproj/
tessera-core/build/bin/currentFramework
